.force-height {
  //max-height: 120px !important;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.explorer-table-content {
  font-family: "Roboto Mono", Consolas, Menlo, Courier, monospace;
  font-size: 13px;
}
