.force-height {
  max-height: 120px !important;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.full-height {
  display: inline-block;
  word-break: break-word;
}

.expand-btn {
  cursor: pointer;
}
